# 1Take integers ,float , strings print only float values

# 2 print only strings

# 3  Replace integer values with a name is called "integer" ,float values with a name is called "float" ,string values with a name is called "string"

# 1 Take integers ,float , strings print only float values

In [8]:
A = ["I am leraning",11,27.5,"Python",10,2.3]

In [9]:
def flo(n):
    if type(n)==float:
        return n

In [10]:
list(filter(flo,A))

[27.5, 2.3]

# 2 print only strings

In [17]:
A = ["I am leraning",11,27.5,"Python",10,2.3]

In [18]:
def flo(n):
    if type(n)==str:
        return n

In [19]:
list(filter(flo,A))

['I am leraning', 'Python']

# 3  Replace integer values with a name is called "integer" ,float values with a name is called "float" ,string values with a name is called "string"

In [45]:
A = ["I am leraning",11,27.5,"Python",10,2.3]

In [46]:
def flo(n):
    if type(n)==int:
        return "integer"
    elif type(n)==float:
        return "float"
    else:
        return "string"

In [47]:
list(map(flo,A))

['string', 'string', 'float', 'string', 'string', 'float']

# practice eg:

In [1]:
A = ["I am leraning",11,27.5,"Python",10,2.3]
def flo(n):
    if type(n)==int:
        return "integer"
    elif type(n)==float:
        return n
    else:
        return n
list(map(flo,A))

['I am leraning', 'integer', 27.5, 'Python', 'integer', 2.3]