
1. What are the column names in the Iris dataset?
2. How many rows and columns are there in the dataset?
3. Can you provide a summary of the dataset, including mean, median, and other statistics for each feature?
4. What is the average sepal length?
5. what is the largest petal length, and what is its value? 
6. What is the mean and standard deviation of petal width for the Setosa species?
7. Check for missing values in the dataset 
8. Extract the `Species` column using loc and iloc method
9. Drop `sepal Width` column
10. Get `petalwidth` 10th value using at and iat

In [4]:
import numpy as np
import pandas as pd

# 1 What are the column names in the Iris dataset?

In [5]:
df = pd.read_excel(r"C:\Users\pc\Downloads\Iris_clean.xlsx")

In [6]:
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,10.2,Iris-setosa
4,5,50.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
160,161,7.7,2.8,6.7,2.0,NaN
161,162,6.3,2.7,4.9,1.8,Iris-virginica
162,163,7.2,3.6,6.1,2.5,Iris-virginica
163,164,6.5,3.2,5.1,2.0,Iris-virginica
164,165,6.4,2.7,5.3,1.9,Iris-virginica

# 2 How many rows and columns are there in the dataset?

In [7]:
df.shape  #There are 165 rows and  6 columns

(165, 6)

In [8]:
column_names = df.columns  # column names
column_names

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

# 3 Can you provide a summary of the dataset, including mean, median, and other statistics for each feature?

In [9]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  165.000000     161.000000    159.000000     159.000000    165.000000
mean    83.000000       7.510559      4.713208       4.022642      2.810909
std     47.775517      11.162995     13.468999       2.052505     12.097722
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     42.000000       5.100000      2.800000       1.600000      0.400000
50%     83.000000       5.800000      3.000000       4.500000      1.500000
75%    124.000000       6.500000      3.300000       5.150000      1.900000
max    165.000000     116.300000    130.000000      13.800000    111.100000

# Mean

In [10]:
Id = df["Id"]
print(Id.mean())

SepalLength = df["SepalLengthCm"]      # mean of SepalLengthCm
print(SepalLength.mean()) 

SepalWidth = df["SepalWidthCm"]        # mean of SepalWidthCm
print(SepalWidth.mean())

PetalLength = df["PetalLengthCm"]      # mean of PetalLengthCm
print(PetalLength.mean())

PetalWidth = df["PetalWidthCm"]       # mean of PetalWidthCm
print(PetalWidth.mean())

83.0
7.510559006211181
4.713207547169812
4.022641509433963
2.810909090909091

# Median

In [11]:
Id = df["Id"]
print(Id.median())

SepalLength = df["SepalLengthCm"]        # median of SepalLengthCm
print(SepalLength.median()) 

SepalWidth = df["SepalWidthCm"]          # median of SepalWidthCm
print(SepalWidth.median())

PetalLength = df["PetalLengthCm"]        # median of PetalLengthCm
print(PetalLength.median())

PetalWidth = df["PetalWidthCm"]          # median of PetalWidthCm
print(PetalWidth.median())

83.0
5.8
3.0
4.5
1.5

# Standard deviation

In [12]:
Id = df["Id"]
print(Id.std())

SepalLength = df["SepalLengthCm"]     # std of SepalLengthCm
print(SepalLength.std()) 

SepalWidth = df["SepalWidthCm"]       # std of SepalWidthCm
print(SepalWidth.std())

PetalLength = df["PetalLengthCm"]     # std of PetalLengthCm
print(PetalLength.std())

PetalWidth = df["PetalWidthCm"]      # std of PetalWidthCm
print(PetalWidth.std())

47.775516742365014
11.162994683800537
13.468999160320053
2.052504630140228
12.097722110632038

# Range of min and max

In [13]:
Id = df["Id"]
print(max(Id) - min(Id))

SepalLength = df["SepalLengthCm"]                # Range of SepalLengthCm
print(max(SepalLength) - min(SepalLength))

SepalWidth = df["SepalWidthCm"]                  # Range of SepalWidthCm
print(max(SepalWidth) - min(SepalWidth))

PetalLength = df["PetalLengthCm"]                # Range of PetalLengthCm
print(max(PetalLength) - min(PetalLength))

PetalWidth = df["PetalWidthCm"]                  # Range of PetalWidthCm
print(max(PetalWidth) - min(PetalWidth))

164
112.0
128.0
12.8
111.0

# 4 What is the average sepal length?

In [14]:
average = df['SepalLengthCm'].mean()
average

7.510559006211181

# 5 what is the largest petal length, and what is its value?

In [15]:
largest = df['PetalLengthCm'].max()
largest

13.8

# 6. What is the mean and standard deviation of petal width for the Setosa species?

In [16]:
species = df["PetalWidthCm"]

specie = species.std()                # standard deviation ---> petal width
print(specie)

12.097722110632038

# 7 Check for missing values in the dataset

In [17]:
missingvalues=df.isnull()
missingvalues

        Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0    False          False         False          False         False    False
1    False          False         False          False         False    False
2    False          False         False          False         False    False
3    False          False         False          False         False    False
4    False          False         False          False         False    False
..     ...            ...           ...            ...           ...      ...
160  False          False         False          False         False     True
161  False          False         False          False         False    False
162  False          False         False          False         False    False
163  False          False         False          False         False    False
164  False          False         False          False         False    False

[165 rows x 6 columns]

# 8 Extract the Species column using loc and iloc method

In [18]:
df.loc[:,"Species"]     # using loc

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
160               NaN
161    Iris-virginica
162    Iris-virginica
163    Iris-virginica
164    Iris-virginica
Name: Species, Length: 165, dtype: object

In [19]:
df.iloc[0:,[4]]         # using iloc

     PetalWidthCm
0             0.2
1             0.2
2             0.2
3            10.2
4             0.2
..            ...
160           2.0
161           1.8
162           2.5
163           2.0
164           1.9

[165 rows x 1 columns]

# 9 Drop sepal Width column

In [20]:
df.drop("SepalWidthCm",axis = 1,inplace = True )
df

      Id  SepalLengthCm  PetalLengthCm  PetalWidthCm         Species
0      1            5.1            1.4           0.2     Iris-setosa
1      2            4.9            1.4           0.2     Iris-setosa
2      3            4.7            1.3           0.2     Iris-setosa
3      4            4.6            1.5          10.2     Iris-setosa
4      5           50.0            1.4           0.2     Iris-setosa
..   ...            ...            ...           ...             ...
160  161            7.7            6.7           2.0             NaN
161  162            6.3            4.9           1.8  Iris-virginica
162  163            7.2            6.1           2.5  Iris-virginica
163  164            6.5            5.1           2.0  Iris-virginica
164  165            6.4            5.3           1.9  Iris-virginica

[165 rows x 5 columns]

# 10 Get petalwidth 10th value using at and iat

In [21]:
df.at[10,'PetalWidthCm']

0.2

In [22]:
df.iat[10,4]  # using at

'Iris-setosa'

In [23]:
petalwidth = df.iat[10,4]   # using iat
petalwidth

'Iris-setosa'