

**Assignment Task 1:** Tuple BasicsCreate a Python tuple containing the names of your favorite fruits. Write a Python program to print `each fruit` name from the tuple.

**Assignment Task 2:** Tuple OperationsGiven two tuples, write a Python program to `concatenate` them into a `single` tuple and then find the `length` of the resulting tuple.

**Assignment Task 3:** Set CreationCreate a Python set containing the first 10 `even` numbers (2, 4, 6, ...). Write a program to `display` this set.

**Assignment Task 4:** Set CreationCreate a Python set containing the first 10 `even` numbers (2, 4, 6, ...). Write a program to `display` this set.

**Assignment Task 5:** Tuple and Set ConversionWrite a Python program that takes a `tuple` of integers and converts it into a `set`. Then, find and print the `maximum and minimum` values from the set.

**Assignment Task 6:** Tuple Immutability Explain the concept of immutability in Python tuples with examples. Discuss why tuples are considered immutable data structures.

**Assignment Task 7:** Set Operations and MethodsWrite a Python program that takes a set of numbers and performs the following operations:
   - Add a new number to the set.
   - Remove a number from the set.
   - Check if a specific number is in the set.
   - Find the size of the set.

**Assignment Task 8:** Tuple SlicingGiven a tuple of 10 elements, write a Python program to print the elements from the `3rd to the 7th `position using slicing.

**Assignment Task 9:** Set Operations with ListsCreate a Python list with duplicate elements and convert it into a set to remove duplicates. Then, write a program to count how many duplicates were removed.

**Assignment Task 10:** Tuple and Set Combinations Create a `tuple` containing the names of your friend's favorite movies and a `set` containing the names of your favorite movies. Write a Python program to find and display common elements (movies that feature your

# Assignment Task 1

1 Tuple BasicsCreate a Python tuple containing the names of your favorite fruits. Write a Python program to print `each fruit` name from the tuple.

In [2]:
fruits = ('Apple','Mango','Orange','cheery','Papaya')

In [3]:
type(fruits)

tuple

In [5]:
fruits[0]

'Apple'

In [6]:
fruits[1]

'Mango'

In [7]:
fruits[2]

'Orange'

In [8]:
fruits[3]

'cheery'

In [9]:
fruits[4]

'Papaya'

# Assignment Task 2

2 Tuple OperationsGiven two tuples, write a Python program to `concatenate` them into a `single` tuple and then find the `length` of the resulting tuple.

In [10]:
tuple1 = (1,3,5,7,9,11)
tuple2 = (2,4,6,8,10,12)

In [11]:
val = tuple1+tuple2

In [12]:
val

(1, 3, 5, 7, 9, 11, 2, 4, 6, 8, 10, 12)

In [13]:
len(val)

12

# Assignment Task 3

3 Set CreationCreate a Python set containing the first 10 `even` numbers (2, 4, 6, ...). Write a program to `display` this set.

In [14]:
val = {2,4,6,8,10,12,14,16,18,20}

In [15]:
val

{2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

In [16]:
type(val)

set

# Assignment Task 4

4 Set CreationCreate a Python set containing the first 10 `even` numbers (2, 4, 6, ...). Write a program to `display` this set.

In [17]:
set1 = {1,2,3,4,5,6,7,8,9,10}
set2 = {6,7,8,9,10,}

In [18]:
set1.union(set2)  #union

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [19]:
set1.intersection(set2)

{6, 7, 8, 9, 10}

In [20]:
set1.difference(set2)

{1, 2, 3, 4, 5}

# Assignment Task 5

5 Tuple and Set ConversionWrite a Python program that takes a `tuple` of integers and converts it into a `set`. Then, find and print the `maximum and minimum` values from the set.

In [21]:
A = (2,3,4,6,5,7,9,8,10,13,15)

In [22]:
type(A)

tuple

In [23]:
val = set(A)

In [24]:
val

{2, 3, 4, 5, 6, 7, 8, 9, 10, 13, 15}

In [25]:
type(val)

set

In [26]:
max(val) #maximum value

15

In [28]:
min(val)  #minimum value

2

# Assignment Task 6

6 Tuple Immutability Explain the concept of immutability in Python tuples with examples. Discuss why tuples are considered immutable data structures.

In [29]:
tuple = (1,2,3,4)

In [30]:
tup.add(5)

NameError: name 'tup' is not defined

In [31]:
tup.remove(4)

NameError: name 'tup' is not defined

# Assignment Task 7

7  Set Operations and MethodsWrite a Python program that takes a set of numbers and performs the following operations:
   - Add a new number to the set.
   - Remove a number from the set.
   - Check if a specific number is in the set.
   - Find the size of the set.

In [32]:
s = {1,2,4,6,8,10,12}

In [33]:
s.add(5)

In [34]:
s

{1, 2, 4, 5, 6, 8, 10, 12}

In [35]:
s.remove(4)

In [36]:
s

{1, 2, 5, 6, 8, 10, 12}

In [37]:
10 in s

True

In [38]:
len(s)

7

# Assignment Task 8

8 Tuple SlicingGiven a tuple of 10 elements, write a Python program to print the elements from the `3rd to the 7th `position using slicing.

In [39]:
tup = (1,2,3,4,5,6,7,8,9,10)

In [40]:
tup[3:8]

(4, 5, 6, 7, 8)

# Assignment Task 9

9 Set Operations with ListsCreate a Python list with duplicate elements and convert it into a set to remove duplicates. Then, write a program to count how many duplicates were removed.

In [41]:
list1 = [1,2,3,3,4,4,5,5,6,6]

In [42]:
B = set(list1)

In [43]:
B

{1, 2, 3, 4, 5, 6}

In [44]:
duplicates = len(list1)-len(B)

In [45]:
duplicates

4

# Assignment Task 10

10 Tuple and Set Combinations Create a `tuple` containing the names of your friend's favorite movies and a `set` containing the names of your favorite movies. Write a Python program to find and display common elements (movies that feature your

In [89]:
friends_favorite = ("Sye","Legend","Darling","kushi","Bro")

In [90]:
my_favs = {"Yogi","Darling","Arjun Reddy","Sitaramam","sye"}

In [91]:
common = set(friends_favorite).intersection(my_favs)

In [92]:
common

{'Darling'}