* Write a program that calculates the `sum, difference, product, and quotient` of two numbers: 10 and 5.

* Create a program that calculates the `area of a circle` with a radius of 4.5 units.

*  Write a program that `swaps` the values of two variables: x with a value of 5 and "y" with a value of 10.
* Create a program that calculates `compound interest` for a principal amount of $1000, an interest rate of 5%, and a time period of 3 years.

* Write a program that `compares` two numbers: 7 and 12, and determines whether the first number is greater than, less than, or equal to the second number.
* Create a program that `checks` if a person of age 18 is eligible to vote based on the voting age requirement.(True/False)

* Create a program that `swaps` the values of two integers: `a` with a value of 10 and `b` with a value of 20 using
 *  bitwise XOR (^) operator.
 * Logical AND
 * Logical OR
 * Logical NOT

*  Create a Python program that calculates the `area of a rectangle`. Prompt the `user to enter` the length and width of the rectangle, `store them` in variables, and compute the area using the formula:area length width.Finally, `print the calculated area.

* Create a Python program that calculates the `average` of three exam scores. Prompt the user to enter the scores, `store them` in variables, calculate the average, and print the result.

* Write a Python program that `converts` temperature from Celsius to Fahrenheit. Prompt the user to enter a temperature in Celsius, store it in a variable, and convert it to Fahrenheit using the formula: `Fahrenheit = (Celsius* 9/5)+32`, and print the converted temperature.

* What are the `logical operators` in Python? Explain `each one` with an example.

* What are the `membership` operators in Python? Explain their usage with examples

* List and briefly explain the `basic data types` available in Python.

* Write a Python code snippet that `assigns a value to a variable `and determines its `data type` using the type() function.

Assignment: Basic Python Operators

**Task 1: Arithmetic Operators**
1. Write a Python program that takes two user-input numbers and displays their sum using the addition operator.
2. Create a program to calculate the area of a rectangle. Prompt the user for the length and width, then use multiplication to find the area.
3. Implement a program that converts temperature from Celsius to Fahrenheit using the formula: Fahrenheit = (Celsius * 9/5) + 32.

**Task 2: Comparison Operators**
1. Write a program that compares two user-input numbers and prints whether the first number is greater than the second number or not.
2. Create a program that determines whether a user-input year is a leap year or not. A leap year is divisible by 4 and not divisible by 100, unless it is also divisible by 400.
3. Implement a simple guessing game. Generate a random number between 1 and 100 and have the user guess the number. Provide feedback if their guess is too high or too low, and let them know when they've guessed correctly.

**Task 3: Logical Operators**
1. Write a program that checks whether a user-input number is positive and even using logical AND (`and`) operator.
2. Create a login system where you define a correct username and password. Ask the user for their input and compare it with the correct credentials using logical OR (`or`) operator. Provide access if either the username or password is correct.
3. Implement a program that determines whether a given year is a leap year and divisible by 7 using logical NOT (`not`) operator.

**Task 4: Assignment Operators**
1. Write a program to calculate the square of a number using the exponentiation operator (`**`) and assign it back to the same variable.
2. Create a program that keeps track of the total score in a game. Prompt the user for their latest score and update the total score using the addition assignment operator (`+=`).
3. Implement a program to convert seconds into hours, minutes, and remaining seconds using both division and modulo operators, and then assign each value using assignment operators.

**Task 5: Bitwise Operators**
1. Write a program that performs a bitwise AND operation between two user-input numbers and displays the result.
2. Create a program to toggle the nth bit of a given number. Ask the user for the number and the value of n, then use bitwise XOR (^) operator to toggle the bit.
3. Implement a program to swap the values of two variables without using a temporary variable, only using bitwise XOR (^) operator.

In [1]:
a = 10
b = 5              #sum
a+b

15

In [11]:
a = 10 
b = 5             #difference
a-b

5

In [8]:
a = 10 
b = 5             #quoient 
a//b

2

In [9]:
a = 10
b = 5             #product
a*b

50

In [28]:
radius = 4.5
area = 3.1415 * 4.5**2
print(area)

63.615375

In [29]:
x = 5
y = 10
temp = x # we have to complete a temporary  value for swapping the variables 
x = y 
y = x
print("value of x: 10")
print("value of y: 5")

value of x: 10
value of y: 5

In [34]:
a = 7
b = 12
a>b

False

In [36]:
a<b

True

In [37]:
a==b

False

In [39]:
bool(18)

True

In [12]:
a = 10
b = 20

In [13]:
10^20      #Betwise XOR

30

In [15]:
not a>b    #Logical NOT

True

In [17]:
10 or 20    # Logical OR

10

In [18]:
a and b     #Logical AND

20

In [51]:
width = 4
length = 5
print("area=",width*length)

area= 20

# Logical Operators

Logical operators are used to perform logical operations on the values of variables.

## AND
## NOT 
## OR

# Logical AND  Example

In [38]:
a = 30 
b = 50
a and b

50

In [ ]:
AND  = if any coenditions is False,the complete condition is False
>> and its is considering the last value like 10 and 20 = 20

# Logical NOT Example

In [22]:
a = 10
b = 15
a>b

False

In [23]:
not a>b

True

In [ ]:
NOT = The return value will be true if the statement are not True, otherwise it return False 
like not o.0 = True , not o.1 - False

# Logical OR Example

In [24]:
a = 20
b = 40
a or b

20

In [ ]:
OR  = if any coenditions is True,the complete condition is True
>> and it is considering the first value like 8 or 10 = 8

# Membership operators

In [ ]:
in = True if value found in the sequence = 5 in x 
Not in = True if value found is not in the sequence = 5 not in x

# In Example

In [43]:
a = "Hello world"
"o" in a

True

In [44]:
a = "Hello world "
"world" not in a

False

# NOT in Example