1. Ask user to  enter a  website name and check whether it is valid or not(True/False)


2. name = "Innomatics", course = "Data Science"
   write python code in `different ways` to show output as :
   `"Hello World I am learning Data Science in Innomatics"`
   
   
3. Replace `Science` with `Analysis` in the above output.


4. `string = '     Hello World I am learning Python in Innomatics   '`
    a. How many characters are there in the string.
    b. Slice only 'Python' from above string
    c. Remove white spaces on both sides then find no.of characters in the string.
    d. Convert the string in Upper case
    
    
5. What is the index number of 'World' in above string.


6. Split the string with respect to `whitespace`.after that `store` that splitted into a variable and find the `data type`of that variable.


7. How many times 'a' is `repeated` in above string.

8.

1. Ask user to  enter a  website name and check whether it is valid or not(True/False)

In [1]:
website =input("Enter a website")
website.startswith('WWW')
website.endswith('.com')

Enter a websiteWWW.archu@gmail.com

True

2. name = "Innomatics", course = "Data Science"
   write python code in `different ways` to show output as :
   `"Hello World I am learning Data Science in Innomatics"`

In [2]:
name = "Innomatics"
course = "Data Science"

In [10]:
print(f'Hello world I am learning {course} in {name}')

Hello world I am learning Data Science in Innomatics

In [11]:
print('Hello world I am learning {} in {}' .format(course,name))

Hello world I am learning Data Science in Innomatics

In [12]:
print('Hello world I am learning '+course+' in '+name+'')

Hello world I am learning Data Science in Innomatics

In [15]:
print('Hello world I am learning ',name,'in',course,)

Hello world I am learning  Innomatics in Data Science

3. Replace `Science` with `Analysis` in the above output.

In [16]:
name = "Hello i am learning Data Science in Innomatics"
name.replace('Science','Analysis')

'Hello i am learning Data Analysis in Innomatics'

4. `string = '     Hello World I am learning Python in Innomatics   '`
    a. How many characters are there in the string.
    b. Slice only 'Python' from above string
    c. Remove white spaces on both sides then find no.of characters in the string.
    d. Convert the string in Upper case

In [17]:
string =  '     Hello World I am learning Python in Innomatics   '
len(string)

54

In [19]:
string[-23:-16:1]

'Python '

In [20]:
string.strip()

'Hello World I am learning Python in Innomatics'

In [21]:
name = "Hello world I am learning python in Innomatics"
len(name)

46

In [22]:
name = "Hello world I am learning python in Innomatics"
name.upper()

'HELLO WORLD I AM LEARNING PYTHON IN INNOMATICS'

5. What is the index number of 'World' in above string.

In [25]:
name = 'Hello world I am learning python in Innomatics'
name.index('world')

6

6. Split the string with respect to `whitespace`.after that `store` that splitted into a variable and find the `data type`of that variable.

In [26]:
string = '  Hello world I am learnind python in Innomatics'

In [27]:
string.split()

['Hello', 'world', 'I', 'am', 'learnind', 'python', 'in', 'Innomatics']

7. How many times 'a' is `repeated` in above string.

In [28]:
string = 'Hello world I am learning python in Innomatics'
string.count('a')

3